* {  
    font-size: 20px;
    background-color: azure;
}

h1{
    background-color: paleturquoise;
    color: black;
    padding: 20px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.fixing {
    display: flex;
    flex-wrap: wrap;
    flex: 1, 1, 0;
    justify-content: center;
    background-color: #ffc0cb;
    justify-content: space-around;
    margin-right: 55%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
}
h4 {
    background-color: #ffc0cb;
}

h3 {
    background-color: #ffc0cb;
    font-family:'Courier New', Courier, monospace;
}

.description {
    display: flex;
    background-color: #ffc0cb;
    
}

.arrangement {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

img {
    margin: 12px;
    border-radius: 10px;
    border: 2px solid black;
}

ul {
    font-family:'Courier New', Courier, monospace;
}

ol {
    font-family:'Courier New', Courier, monospace;
    width: 500px;
}

.steps {
    width: 530px;
    border-radius: 10px;
    font-weight: lighter;
}

.ingredients {
    width: 500px;
    border-radius: 10px;
}