div {
    background-color: paleturquoise;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

p {
    color: white;
    font-size: 18px;
}
button {
    background-color: palevioletred;
    font-size: 18px;
}